.bgcolor {
  background: #32355d;
  color: white;
  padding: 24px 0;
  p {
    color: white;
    padding: 0;
    margin: 0;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
}

.sitemap {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    color: white;
    font-size: 18px;
    a {
      transition: 0.3s;
      &:hover {
        color: #ff6f96;
        padding-left: 4px;
      }
    }
  }
}
