// @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

.wrap {
  background: azure;
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  .bar {
    width: 30px;
    margin-top: 16px;
    display: none;
    @media screen and (max-width: 766px) {
      display: block;
    }
    &-bar {
      width: 100%;
      height: 4px;
      background-color: #32355d;
      margin-bottom: 4px;
    }
  }
  &__mobile {
    padding: 16px 0;
    position: relative;
    height: 90vh;
    ul {
      list-style-type: none;
      padding: 0 16px;
      margin: 0;
      li {
        margin-bottom: 8px;
        a {
          font-size: 1.5rem;
        }
        &.active {
          a {
            font-weight: bold;
          }
        }
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      left: 16px;
    }
  }
}

.logo {
  width: 80px;
  height: 80px;
  display: none;
  //   line-height: 16px;
  @media screen and(max-width:766px) {
    display: block;
  }
}

.titleLogo {
  padding: 8px 0;
  margin: 0;
  font-size: 32px;
  color: #32355d;
  display: block;
  //   line-height: 16px;
  @media screen and(max-width:766px) {
    display: none;
  }
}

.isdesktop {
  display: block !important;
  @media screen and (max-width: 766px) {
    display: none !important;
  }
}

.header {
  display: block;
  clear: both;
  &-left {
    // display: inline-block;
    float: left;
  }
  &-right {
    // display: inline-block;
    // text-align: right;
    float: right;
    ul {
      display: block;
      li {
        display: inline-block;
        margin-left: 24px;
        list-style-type: none;
        font-size: 18px;
        font-weight: bold;
        font-family: "Baloo 2" !important;
        &.active {
          a {
            color: #ff6f96 !important;
            border-bottom: 2px solid;
          }
        }
        a {
          transition: 0.3s;
          &:hover {
            color: #ff6f96;
          }
        }
      }
    }
  }
}

.mobile {
  padding: 8px 16px;
  margin: 0;
  list-style-type: none;
  li {
    margin-top: 8px;
    font-size: 21px;
    &.active {
      a {
        color: #ff6f96 !important;
        font-weight: bold;
        border-bottom: 1px solid;
      }
    }
  }
}

.h2 {
  padding: 8px 16px;
  margin: 24px 0 0;
  font-size: 28px;
}
