.wrap {
  margin: 72px 0;
}

.profile {
  padding: 16px;
  th {
    color: #777;
  }
  td {
    font-family: "Poppins";
    font-weight: 700;
  }
}

.h2 {
  color: #32355d;
  text-align: center;
  font-size: 29px;
  padding: 0;
  margin: 0;
}
